/* canvas{
  position: fixed;
  top: 0;
  left: 0;
} */

@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
:root {
  --color-1: #FFC300;
  --color-2: #FF3006;
  --color-2-dark: #df2500;
  --color-dark: rgb(70, 70, 70);
}

* {
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
  padding: 0;
}

*::-webkit-scrollbar-thumb {
  background-color: black;
}

.navbar {
  /* background: rgb(236, 236, 236); */
  position: relative;
}

.nav-icon {
  right: 0;
  margin: 30px;
  padding: 10px;
  border-radius: 5px;
  color: var(--color-1);
  background-color: var(--color-dark);
  border: none;
  font-size: 2rem;
  position: absolute;
  display: flex;
  transition: 0.3s;
}

.nav-icon:hover {
  color: rgb(228, 228, 228);
  background-color: rgb(70, 70, 70);
}

.nav-icon-2 {
  margin-right: 90px;
}

.nav-icon:disabled {
  background-color: rgb(80, 80, 80);
  color: rgb(247, 247, 247);
}


.close-modal {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.425);
  visibility: hidden;
}

@keyframes list-come {
  0% {
    opacity: 0;
    transform: translateX(100%);
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  100% {
    transform: translateX(0%);
    opacity: 100%;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
  }
}


@keyframes list-go {
  0% {
    /* opacity: 0; */
    transform: translateX(100%);
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  100% {
    /* transform: translateX(0%); */
    opacity: 100%;
    border-top-left-radius: 40px;
    visibility: visible;
    border-bottom-left-radius: 40px;
  }
}

.nav-list {
  position: absolute;
  right: 0;
  height: 100%;
  width: 300px;
  background: var(--color-dark);
  opacity: 0;
  visibility: hidden;
  animation: list-go 1s ease-out;
  animation-direction: reverse;
}

.list-visible {
  z-index: 0;
  position: absolute;
  right: 0;
  height: 100%;
  width: 300px;
  background: var(--color-dark);
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  visibility: visible;
  animation: list-come 1s;
  animation-timing-function: ease-in;
  /* background-image: url("./1.png"); */
  /* background-size: cover; */
}

.menu-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  list-style: none;
  padding: 2rem;
  padding-top: 1rem;
  height: 60%;
}

.menu-link {
  text-decoration: none;
  color: var(--color-1);
  font-size: 3rem;
  /* background: white; */
  margin-top: 20px;
  margin-bottom: 20px;
  transition: 0.3s;
}

.menu-link:hover {
  color: var(--color-2);
}

.close-button {
  color: var(--color-1);
  margin: 20px 10px;
  background: none;
  border: none;
  font-size: 3rem;
  font-weight: 900;
}

.close-button:hover {
  color: var(--color-2);
}

/* .nav-icon:after, 
.nav-icon:before, 
.nav-icon div {
  background-color: rgb(255, 47, 10);
  border-radius: 3px;
  content: '';
  display: block;
  height: 5px;
  margin: 7px 0;
  transition: all .2s ease-in-out;
} */