@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
canvas{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  /* z-index: 0; */
}

.card{
  color: white;
}

:root {
  --color-1: #FFC300;
  --color-2: #FF3006;
  --color-2-dark: #df2500;
  --color-dark: rgb(17, 17, 17);
}



*, html, body {
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  user-select: none;
}

body{
  background-color: var(--color-dark);
}

::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: red; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}
*::-webkit-scrollbar-thumb {
  background-color: black;
}

.navbar {
  /* background: rgb(236, 236, 236); */
  padding: 1rem 1rem;
  position: fixed;
  z-index: 1;
  right: 0;
}

.nav-icon {
  /* right: 0; */
  margin-right:10px ;
  padding: 10px;
  border-radius: 5px;
  color: var(--color-1);
  background-color: var(--color-dark);
  border: none;
  font-size: 2rem;
  /* position: absolute; */
  float: right;
  display: flex;
  transition: 0.3s;
}

.nav-icon:hover {
  color: rgb(228, 228, 228);
  /* background-color: rgb(70, 70, 70); */
}

.nav-icon-2 {
  margin-right: 10px;
}

.nav-icon:disabled {
  /* background-color: rgb(80, 80, 80); */
  color: rgb(247, 247, 247);
}


.close-modal {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.425);
  visibility: hidden;
  z-index: 1;
}

@keyframes list-come {
  0% {
    opacity: 0;
    transform: translateX(100%);
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  100% {
    transform: translateX(0%);
    opacity: 100%;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
  }
}


@keyframes list-go {
  0% {
    /* opacity: 0; */
    transform: translateX(100%);
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  100% {
    /* transform: translateX(0%); */
    opacity: 100%;
    border-top-left-radius: 40px;
    visibility: visible;
    border-bottom-left-radius: 40px;
  }
}

.nav-list {
  position: fixed;
  top: 0;
  right: 0; 
  height: 100%;
  width: 300px;
  background: var(--color-dark);
  opacity: 0;
  visibility: hidden;
  animation: list-go 0.5s linear;
  animation-direction: reverse;
  z-index: 1;
}

.list-visible {
  z-index: 2;
  position: fixed;
  right: 0;
  height: 100%;
  width: 300px;
  background: var(--color-dark);
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  visibility: visible;
  animation: list-come 0.5s;
  animation-timing-function: linear;
  box-shadow: -10px 0px 20px black;
  /* background-image: url("./1.png"); */
  /* background-size: cover; */
}

.menu-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  list-style: none;
  padding: 2rem;
  padding-top: 1rem;
  height: 60%;
}

.menu-link {
  text-decoration: none;
  color: var(--color-1);
  font-weight: bold;
  font-size: 3rem;
  /* background: white; */
  margin-top: 20px;
  margin-bottom: 20px;
  transition: 0.3s;
}

.menu-link:hover {
  color: var(--color-2);
}

.close-button {
  color: var(--color-1);
  margin: 20px 10px;
  background: none;
  border: none;
  font-size: 3rem;
  font-weight: 900;
}

.close-button:hover {
  color: var(--color-2);
}

.nothing{
  visibility: hidden;
  position: fixed;
}


.container {
  position: relative;
  margin-left: 3rem;
  color: white;
}

#heading{
  color: var(--color-1);
  font-family: 'Staatliches', cursive;
  font-size: 4rem;
}

#heading1{
  color: var(--color-1);
  font-family: 'Staatliches', cursive;
  font-size: 3rem;
  text-align: center;
  font-weight: 900;
}

#heading2{
  color: var(--color-2);
  font-family: 'Staatliches', cursive;
  font-size: 3rem;
}

.content{
  color: rgb(202, 202, 202);
  font-size: 1.4rem;
  padding:10px 0px ;
}

@media (max-width: 786px) {
  .container {
    position: relative;
    margin-left: 1rem;
    margin-top: 1rem;
    color: white;
  }
  
  #heading{
    font-family: 'Staatliches', cursive;
    font-size: 3rem;
  }
  
  #heading2{
    font-family: 'Staatliches', cursive;
    font-size: 2rem;
  }
}

.home{
  font-size: 3rem;
}

   #particles-js{
     width: 100%;
     height: 100%;
     position: absolute;
     background-color: #121212;
     background-image: url('');
     background-size: cover;
     background-position: 50% 50%;
     background-repeat: no-repeat;
   }
   